@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.text-nowrap {
	white-space: nowrap;
}

.container {
	max-width: 1350px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
}

.denyScroll {
	height: 100vh;
	overflow-y: hidden;
}

body {
	@apply bg-background;
}

p {
	@apply text-base sm:text-lg;
}

a {
	text-decoration: none;
	@apply text-secondary duration-200;
}

h1 {
	@apply text-4xl sm:text-5xl font-bold;
}

h2 {
	@apply text-3xl sm:text-4xl font-bold;
}

h3 {
	@apply text-2xl font-semibold;
}

#cookiesBar {
	animation-name: cookiesBar;
	animation-delay: 3s;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

@keyframes cookiesBar {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}
